<div class="block-link-fw-2-col">
    <div class="col-txt">
        <div class="cta-content-box">
            <h2>{{ content.field_title }}</h2>
            <p class="lead-text">{{ content.field_lead_text }}</p>
            {% if content.field_link[0]['#url'] is not empty %}
                <a href="{{ content.field_link[0]['#url'] }}" class="btn btn-primary add-fwd-icon">
                    {{ content.field_link[0]['#title'] }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-img">
        {% if content.field_image|render|trim is not empty %}
            <img src="{{ content.field_image[0]['#media'].field_media_image.entity.uri.value | image_style('link_box_image_4_3') }}" alt="{{ content.field_image[0]['#media'].field_media_image.alt }}">
        {% endif %}
    </div>
</div>