{% set body_classes = [
    logged_in ? 'user-logged-in',
    is_admin ? 'is_admin',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
] %}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    {% if is_prod %}

    {% else %}
      <!-- CookiePro Cookies Consent Notice start for www.colosseumdental.com -->
      <script type="text/javascript" src="https://cookie-cdn.cookiepro.com/consent/dfca7411-c793-421e-92dd-30a90a83a854-test/OtAutoBlock.js" ></script>
      <script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="dfca7411-c793-421e-92dd-30a90a83a854-test" ></script>
      <script type="text/javascript">
        function OptanonWrapper() { }
      </script>
      <!-- CookiePro Cookies Consent Notice end for www.colosseumdental.com -->
    {% endif %}
    {# % if is_prod %} #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SNSQR6PQHZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SNSQR6PQHZ');
    </script>
    {# {% endif %} #}

    <head-placeholder token="{{ placeholder_token|raw }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <title>{{ head_title|safe_join(' | ') }}</title> #}
    <title>{{ head_title.title }}</title>
    {# Add font import here if from google etc... #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,900&display=swap&subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/cd_group/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/cd_group/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/cd_group/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/cd_group/img/favicons/site.webmanifest">
    <link rel="icon" href="/themes/custom/cd_group/img/favicons/favicon.ico" type="image/x-icon"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body{{ attributes.addClass(body_classes) }}>

{% if is_admin %}
    <a href="{{ node_edit_url }}" class="btn-edit-current-page">{{ 'Edit current page'|t }}</a>
{% endif %}

{{ page_top }}
{{ page }}
{{ page_bottom }}

<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>

