{#
    News article teaser
#}

{% set articleCategoryClass = content.field_article_category|render|striptags('<!-- -->')|lower|replace({' ':''})|trim %}

<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="article-list-item">
    <div class="col-date">
        <div class="square-wrapper">
            <div class="sw-content">
                <div class="date">
                    <span class="day">{{ node.createdtime|date('U')|format_date('day') }}</span>
                    <span class="month">{{ node.createdtime|date('U')|format_date('month_full_name') }}</span>
                    <span class="year">{{ node.createdtime|date('U')|format_date('year') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-txt">
        <span class="category-badge {{ articleCategoryClass }}">
            {{ content.field_article_category|render|striptags('<!-- -->')|trim }}
        </span>
        <h3 class="article-title">{{ label }}</h3>
        <button class="btn btn-link add-fwd-icon">Read more</button>
    </div>
</a>