{#
    Leading dentistry page
#}

{{ drupal_menu('main-navigation-full', 2, 0, TRUE) }}

<section class="page-section">
    <div class="container">
        <div class="page-header">
            <h1 class="h2 page-title">
                {#{{ label }}#}
                {{ content.field_page_title }}
            </h1>
            {{ content.body }}
        </div>
    </div>
</section>

<section class="page-section page-section-subpage-links">
    <div class="container">
        {{ content.field_content_links }}
    </div>
</section>