{#
    Front page of the site
#}

<section class="hero hero-with-img hero-frontpage">
    <div class="hero-img" style="background-image: url({{ node.field_hero_image.entity.field_media_image.entity.uri.value | image_style('hero_front_page') }});"></div>
    <div class="hero-content align-items-center">
        <div class="container">
            <h1 class="hero-title">
                {{ content.field_hero_title }}
            </h1>
            {% if content.field_hero_lead_text|render|trim is not empty %}
                <p class="hero-lead">
                    {{ content.field_hero_lead_text }}
                </p>
            {% endif %}
            {% if node.field_hero_video_button.0.url|render|trim is not empty %}
                <button class="btn btn-white btn-play"
                        data-toggle="modal"
                        data-target="#videoModal"
                        data-video="{{ node.field_hero_video_button.0.url }}">
                    {{ node.field_hero_video_button.title }} <span class="play-icon"><i class="material-icons">play_arrow</i></span>
                </button>
            {% endif %}
        </div>
    </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-white" data-dismiss="modal"><i class="material-icons">close</i></button>
            </div>
            <div class="modal-body bg-dark p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="page-front-section-feature">
    <div class="feature-box">
        <h5 class="small-ac-title">
            Featured content
        </h5>
        <h3 class="feature-title">
            {{ content.field_section_feature_title }}
        </h3>
        {{ content.field_section_feature_body }}
        {% if node.field_section_feature_button.0.url|render|trim is not empty %}
            <a href="{{ node.field_section_feature_button.0.url }}" class="btn btn-primary add-fwd-icon">
                {{ node.field_section_feature_button.title }}
            </a>
        {% endif %}
    </div>

    {% if content.field_section_feature_image|render|trim is not empty %}
        <div class="section-img">
            <img src="{{ node.field_section_feature_image.entity.field_media_image.entity.uri.value | image_style('frontpage_feature') }}" alt="{{ node.field_section_feature_image.entity.field_media_image.alt }}">
        </div>
    {% endif %}

</section>

<section class="page-front-section-courses">
    <div class="container">
        <h2 class="section-title">{{ content.field_section_courses_title }}</h2>
        <div class="row course-info-cards">
            <div class="col-md-7">
                <div class="course-info-card course-info-card-mcp">
                    <div class="card-body">
                        <h3 class="h3">{{ content.field_section_courses_mcp_title }}</h3>
                        {{ content.field_section_courses_mcp_body }}
                    </div>
                    {% if node.field_section_courses_mcp_link.0.url|render|trim is not empty %}
                        <div class="card-footer">
                            <a href="{{ node.field_section_courses_mcp_link.0.url }}" class="btn btn-link add-fwd-icon">
                                {{ node.field_section_courses_mcp_link.title }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="course-info-card course-info-card-ft">
                    <div class="card-body">
                        <h3 class="h3">{{ content.field_section_courses_ft_title }}</h3>
                        {{ content.field_section_courses_ft_body }}
                    </div>
                    {% if node.field_section_courses_ft_link.0.url|render|trim is not empty %}
                        <div class="card-footer">
                            <a href="{{ node.field_section_courses_ft_link.0.url }}" class="btn btn-link add-fwd-icon">
                                {{ node.field_section_courses_ft_link.title }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <h2 class="course-list-title">Upcoming courses</h2>
        {{ block_latest_courses_all }}
    </div>
</section>

<section class="page-front-section-about-us">
    <div class="row no-gutters">
        <div class="col-md-6 col-images">
            {% if content.field_section_about_us_image1|render|trim is not empty %}
                <div class="section-img-1">
                    <img src="{{ node.field_section_about_us_image1.entity.field_media_image.entity.uri.value | image_style('frontpage_about_us_1') }}" alt="{{ node.field_section_about_us_image1.entity.field_media_image.alt }}">
                </div>
            {% endif %}
            {% if content.field_section_about_us_image2|render|trim is not empty %}
                <div class="section-img-2">
                    <img src="{{ node.field_section_about_us_image2.entity.field_media_image.entity.uri.value | image_style('frontpage_about_us_2') }}" alt="{{ node.field_section_about_us_image2.entity.field_media_image.alt }}">
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-content">
            <div class="content-box">
                <h2 class="section-title">
                    {{ content.field_section_about_us_title }}
                </h2>
                {{ content.field_section_about_us_body }}

                {% if node.field_section_about_us_button.0.url|render|trim is not empty %}
                    <a href="{{ node.field_section_about_us_button.0.url }}" class="btn btn-primary add-fwd-icon">
                        {{ node.field_section_about_us_button.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="page-front-section-team">
    {% if content.field_section_team_image|render|trim is not empty %}
        <img src="{{ node.field_section_team_image.entity.field_media_image.entity.uri.value | image_style('frontpage_team') }}" alt="{{ node.field_section_team_image.entity.field_media_image.alt }}">
    {% endif %}

    <div class="content-box">
        <blockquote>
            {{ content.field_section_team_title }}
        </blockquote>
        {{ content.field_section_team_body }}
        {% if node.field_section_team_button.0.url|render|trim is not empty %}
            <a href="{{ node.field_section_team_button.0.url }}" class="btn btn-white add-fwd-icon">
                {{ node.field_section_team_button.title }}
            </a>
        {% endif %}
    </div>
</section>

<section class="page-front-section-faq" id="faqSection">
    {% if content.field_section_faq_image|render|trim is not empty %}
        <img src="{{ node.field_section_faq_image.entity.field_media_image.entity.uri.value | image_style('frontpage_faq') }}" alt="{{ node.field_section_faq_image.entity.field_media_image.alt }}" class="section-img">
    {% endif %}

    <div class="container-fullwidth">
        <div class="faq-content">
            <h2 class="section-title">{{ content.field_section_faq_title }}</h2>

            {{ content.field_faq_items }}
        </div>
    </div>
</section>