{#
    Front page of the site
#}

<section class="hero-frontpage">
    {% if content.field_embed_code is not empty %}
        {% set embed_code = {
            '#type': 'processed_text',
            '#text': content.field_embed_code[0]['#context']['value'],
            '#format': 'full_html',
        } %}
        <div class="embed-video-background">
            {{ embed_code }}
        </div>
    {% else %}
        <div class="hero-img" style="background-image: url({{ content.field_main_image[0]['#media'].field_media_image.entity.uri.value | image_style('basic_page_hero') }});"></div>
    {% endif %}

    <div class="container-lg">
        <div class="hero-content">
            <h1 class="h2 hero-title">{{ content.field_hero_title }}</h1>
            <p class="hero-lead">
                {{ content.field_hero_lead_text }}
            </p>
            {% if content.field_hero_link[0]['#url'] is not empty %}
                <a href="{{ content.field_hero_link[0]['#url'] }}" class="btn btn-primary add-fwd-icon">
                    {{ content.field_hero_link[0]['#title'] }}
                </a>
            {% endif %}
        </div>
    </div>
</section>

<section class="page-section page-section-fp-intro">
    <div class="container-lg">
        {{ content.body }}
        {{ content.field_fp_intro_links }}
    </div>
</section>

<section class="page-section page-section-fp-feature">
    {% if content.field_fp_feature_image|render|trim is not empty %}
        <img src="{{ content.field_fp_feature_image[0]['#media'].field_media_image.entity.uri.value | image_style('frontpage_feature') }}" alt="{{ content.field_fp_feature_image[0]['#media'].field_media_image.alt }}">
    {% endif %}
    <div class="cta-content-box">
        <h2 class="small-ac-title">
            {{ content.field_fp_feature_section }}
        </h2>
        <p class="h2">
            {{ content.field_fp_feature_title }}
        </p>
        {% if content.field_fp_feature_link[0]['#url'] is not empty %}
            <a href="{{ content.field_fp_feature_link[0]['#url'] }}" class="btn btn-primary add-fwd-icon">
                {{ content.field_fp_feature_link[0]['#title'] }}
            </a>
        {% endif %}
    </div>
</section>

<section class="page-section page-section-find-a-clinic">
    <div class="col-map">
        {#{{ content.field_map_image }}#}
        <img src="{{ file_url(node.field_map_image.entity.field_media_image.entity.fileuri) }}" alt="Map of Europe">
    </div>
    <div class="cta">
        <div class="container-lg">
            <h2 class="h1">
                {{ content.field_fp_fyc_title }}
            </h2>
            {% if content.field_fp_fyc_link[0]['#url'] is not empty %}
                <a href="{{ content.field_fp_fyc_link[0]['#url'] }}" class="btn btn-primary add-fwd-icon">
                    {{ content.field_fp_fyc_link[0]['#title'] }}
                </a>
            {% endif %}
        </div>
    </div>
</section>

<section class="page-section page-section-fp-countries">
    <div class="container-lg">
        {{ drupal_view('countries', 'block_3') }}
    </div>
</section>

<section class="page-section page-section-fp-contact">
    <div class="section-two-col-cta">
        <div class="col-md-6 col-img">
            {% if content.field_fp_contact_image|render|trim is not empty %}
                <img src="{{ content.field_fp_contact_image[0]['#media'].field_media_image.entity.uri.value | image_style('frontpage_contact') }}" alt="{{ content.field_fp_contact_image[0]['#media'].field_media_image.alt }}">
            {% endif %}
        </div>
        <div class="col-md-6 col-txt">
            <div class="cta-content-box">
                <h1>
                    {{ content.field_fp_contact_title }}
                </h1>
                <p>
                    {{ content.field_fp_contact_lead_text }}
                </p>
                {% if content.field_fp_contact_link[0]['#url'] is not empty %}
                    <a href="{{ content.field_fp_contact_link[0]['#url'] }}" class="btn btn-primary add-fwd-icon">
                        {{ content.field_fp_contact_link[0]['#title'] }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
