{#
    Contact us page
#}

{% set hasHeroImage = content.field_main_image|render|trim is not empty %}

<section class="hero-basic-page {{ hasHeroImage ? 'with-image' : '' }}">
    <div class="container-fullwidth">
        <div class="hero-content">
            <h1>
                {% if content.field_page_title|render|trim is not empty %}
                    {{ content.field_page_title }}
                {% else %}
                    {{ label }}
                {% endif %}
            </h1>
        </div>
    </div>

    {% if content.field_main_image|render|trim is not empty %}
        <div class="hero-img">
            <img src="{{ node.field_main_image.entity.field_media_image.entity.uri.value | image_style('basic_page_hero') }}" alt="{{ node.field_main_image.entity.field_media_image.alt }}">
        </div>
    {% endif %}
</section>

<div class="page-sections contact-page-sections">
    <section class="section-main-content">
        <div class="main-content-container no-padding">
            <div class="page-section-contact-form">
                <div class="col-contact-form">
                    <h2 class="section-title">{{ content.field_form_title }}</h2>
                    {{ drupal_entity('webform', 'contact') }}
                </div>
                <div class="col-links">
                    {{ content.field_contact_section_links }}
                </div>
            </div>
        </div>
    </section>

    <section class="page-section page-section-contact-group-contact">
        <div class="container-fullwidth">
            <div class="row align-items-center">
                <div class="col-sm-6 col-info">
                    <h2 class="section-title">{{ content.field_group_contact_title }}</h2>
                    <address>
                        {{ content.field_address.0['address_line1']['#value'] }}<br>
                        {{ content.field_address.0['postal_code']['#value'] }} {{ content.field_address.0['locality']['#value'] }},
                        {{ content.field_address.0['country']['#value'] }}
                    </address>
                    <p class="contact-links">
                        <a href="tel:{% spaceless %}{{ content.field_phone_number|escape|striptags('<!-- -->')|render|replace({' ': ''}) }}{% endspaceless %}">
                            <span>{{ content.field_phone_number }}</span>
                        </a>
                        <a href="mailto:{% spaceless %}{{ content.field_email_address|escape|striptags('<!-- -->') }}{% endspaceless %}">
                            <span>{{ content.field_email_address }}</span>
                        </a>
                    </p>
                </div>
                <div class="col-sm-6 col-img">
                    {% if content.field_group_contact_image|render|trim is not empty %}
                        <img src="{{ node.field_group_contact_image.entity.field_media_image.entity.uri.value | image_style('group_contact_image') }}" alt="{{ node.field_group_contact_image.entity.field_media_image.alt }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="page-section page-section-contact-countries">
        <div class="container-lg">
            <h2 class="section-title">{{ content.field_countries_list_title }}</h2>
            {{ drupal_view('countries', 'block_1') }}
        </div>
    </section>
</div>