{#
    Country page
#}

<section class="page-section">
    <div class="container">
        {% if content.field_logo|render|trim is not empty %}
            <img src="{{ node.field_logo.entity.field_media_image.entity.uri.value | image_style('country_organisation_logo') }}" alt="{{ node.field_logo.entity.field_media_image.alt }}">
        {% endif %}
        <h1 class="page-title">
            {{ label }} {% if content.field_organisation_name|render|trim is not empty %}: {{ content.field_organisation_name }}{% endif %}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
        <div class="contact-information">
            <p>
                {{ content.field_address }}
            </p>
            <p>
                {{ content.field_address.0['country']['#value'] }}
            </p>
            <address>
                {{ node.field_address.organization }}<br>
                {{ node.field_address.address_line1 }}<br>
                {{ node.field_address.postal_code }}<br>
                {{ node.field_address.locality }}<br>
                {{ node.field_address.country.name }}<br>
            </address>

            <ol>
                {% for key, value in node.field_address.0 %}
                    <li>{{ key }}</li>
                {% endfor %}
            </ol>
            <p>
                <strong>Website: </strong>
                <a href="{{ content.field_website_link[0]['#url'] }}" target="_blank">{{ content.field_website_link[0]['#url'] }}</a>
            </p>
            <p>
                <strong>Email: </strong>
                <a href="mailto:{% spaceless %}{{ content.field_email_address|escape|striptags('<!-- -->') }}{% endspaceless %}">
                    {{ content.field_email_address }}
                </a>
            </p>
        </div>
    </div>
</section>