{#
    Front page of the site
#}

{#
<section class="page-section page-section-basic-page">
    <div class="container">
        <h1 class="page-title">
            {{ label }}
        </h1>
        <div class="article-content">
            {{ content.body }}
        </div>
    </div>
</section>
#}

<section class="hero-frontpage">
    <div class="hero-img" style="background-image: url({{ base_path ~ directory }}/img/temp-img/hero-example.jpg);"></div>
    <div class="container-fullwidth">
        <div class="hero-content">
            <h1 class="h2 hero-title">Welcome to Colosseum Dental Group</h1>
            <p class="hero-lead">We want to provide modern, quality dentistry services for the benefit of patients, dentists, employees and shareholders, striving for continuous growth and excellence.</p>
            <a href="/who-we-are" class="btn btn-primary add-fwd-icon">
                About us
            </a>
        </div>
    </div>
</section>

<section class="page-section page-section-fp-intro">
    <div class="container-lg">
        <h2>
            Colosseum Dental Group is a <span>leading dentistry</span> company in the European dental services market.
        </h2>
        <ul class="page-list row">
            <li class="col-md-4">
                <a href="#" class="item">
                    <h3 class="small-ac-title">Medical governance</h3>
                    <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-featured-1.png" alt="img">
                    <p class="h4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                    <button class="btn btn-link add-fwd-icon">Read more</button>
                </a>
            </li>
            <li class="col-md-4">
                <a href="#" class="item">
                    <h3 class="small-ac-title">Colosseum Academy</h3>
                    <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-featured-2.png" alt="img">
                    <p class="h4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                    <button class="btn btn-link add-fwd-icon">Read more</button>
                </a>
            </li>
            <li class="col-md-4">
                <a href="#" class="item">
                    <h3 class="small-ac-title">Innovation</h3>
                    <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-featured-3.png" alt="img">
                    <p class="h4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                    <button class="btn btn-link add-fwd-icon">Read more</button>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="page-section page-section-fp-feature">
    <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-charitable-cause.jpg" alt="img">
    <div class="cta-content-box">
        <h2 class="small-ac-title">Our charitable cause</h2>
        <p class="h2">Jacobs Foundation, one of the world’s leading charities for children and youth, is the ultimate economic beneficiary. </p>
        <a href="/charitable-cause" class="btn btn-primary add-fwd-icon">Read more</a>
    </div>
</section>

<section class="page-section page-section-find-a-clinic">
    <div class="col-map">
        <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-map.png" alt="Map">
    </div>
    <div class="cta">
        <div class="container-lg">
            <h1>We are presently operating in eight European countries</h1>
            <a href="/find-a-clinic" class="btn btn-primary add-fwd-icon">Find your local clinic</a>
        </div>
    </div>
</section>

<section class="page-section page-section-fp-countries">
    <div class="container-lg">
        <ul class="country-logo-list">
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/coloseum_dk_ny.png" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/logo_high_odontosalute.png" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/logo_high_colloseum-1.png" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/smile_logo_2018_rgb.jpg" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/logo_high_swiss_smile-1.png" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/Colosseum-Dental-Logo-UK.png" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/oral_logo_RGB-72ppi.jpg" alt="Colosseum">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ base_path ~ directory }}/img/temp-img/logos/smile_de.png" alt="Colosseum">
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="page-section page-section-fp-contact">
    <div class="section-two-col-cta">
        <div class="col-md-6 col-img">
            <img src="{{ base_path ~ directory }}/img/temp-img/frontpage-contact.jpg" alt="Dentist">
        </div>
        <div class="col-md-6 col-txt">
            <div class="cta-content-box">
                <h1>Get in Touch</h1>
                <p>Thinking about downscaling as a prelude to retirement? Or perhaps selling your practice to work directly with us? Get in touch with our national executives who deal with acquisitions.</p>
                <a href="/contact-us" class="btn btn-primary add-fwd-icon">Contact us</a>
            </div>
        </div>
    </div>
</section>
