{#
    News article page
#}

{% set articleCategoryClass = content.field_article_category|render|striptags('<!-- -->')|lower|replace({' ':''})|trim %}

{% set hasHeroImage = content.field_main_image|render|trim is not empty %}

<section class="page-section section-news-article-plain">
    <div class="container-sm">

        <div class="article-header">
            <span class="category-badge {{ articleCategoryClass }}">
                {{ content.field_article_category|render|striptags('<!-- -->')|trim }}
            </span>
            <h1>
                {{ label }}
            </h1>
        </div>

        {% if content.field_main_image|render|trim is not empty %}
            <div class="article-main-image">
                <img src="{{ node.field_main_image.entity.field_media_image.entity.uri.value | image_style('news_article_image') }}" alt="{{ node.field_main_image.entity.field_media_image.alt }}">
            </div>
        {% endif %}
        {% if content.field_lead_text|render|trim is not empty %}
            <div class="article-lead">
                <p class="lead-text">{{ content.field_lead_text }}</p>
            </div>
        {% endif %}
        <div class="article-content">
            {{ content.body }}
        </div>
    </div>
</section>
