
<footer class="footer">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4">
                <a class="footer-logo" href="/">
                    <img src="{{ base_path ~ directory }}/img/cdg-logo-white.svg" alt="Colosseum Dental Group logo">
                </a>
                <div class="footer-contact-info">
                    {#<p class="contact">
                        <a href=""><span>info@colosseumdental.com</span></a>
                        <a href=""><span>+47 464 73 830</span></a>
                    </p>#}

                    {{ drupal_entity('block', 'footercontactinfo') }}
                </div>
            </div>
            <div class="col-md-8 col-lg-4">
                <h6 class="nav-title">Colosseum Dental Group</h6>
                <nav role="navigation" class="footer-main-nav">
                    {#{{ content }}#}
                    {{ drupal_entity('block', 'mainnavigationfullfootermobilemain') }}
                </nav>
            </div>
            <div class="col-md-12 col-lg-4">
                <h6 class="nav-title">CDG Country Organisations</h6>
                {{ drupal_view('countries_nav_footer', 'block_1') }}
            </div>
        </div>
        <div class="row footer-bottom-row">
            <div class="col-md-6 col-lg-4 order-md-0">
                <nav role="navigation" class="nav some-nav">
                    <a class="nav-link" href="https://www.linkedin.com/company/colosseum-dental-group/" target="_blank" aria-label="Colosseum Dental in LinkedIn">
                        <span class="cdg-icon-linkedin-square"></span>
                    </a>
                    <a class="nav-link" href="https://www.youtube.com/channel/UChqXzq_8NnwtepFgPqJ8WJQ" target="_blank" aria-label="Colosseum Dental in Youtube">
                        <span class="cdg-icon-youtube-square"></span>
                    </a>
                    {#<a class="nav-link" href="https://www.facebook.com/colosseumdental"  target="_blank" aria-label="Colosseum Dental in Facebook">
                        <span class="cdg-icon-facebook-square"></span>
                    </a>#}
                </nav>
            </div>
            <div class="col-md-12 col-lg-auto order-md-3 order-lg-1">
                <div class="footer-copyright">
                    <div class="copyright">Copyright © Colosseum Dental Group {{ 'now'|date('Y') }}.</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-auto order-md-1 order-lg-2 ml-lg-auto">
                {{ drupal_menu('footer-policies-menu') }}
            </div>
        </div>
    </div>
</footer>