
<footer class="footer">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-4">
                <a class="footer-logo" href="/">
                    <img src="{{ base_path ~ directory }}/img/cdg-logo-white.svg" alt="Colosseum Dental Group logo">
                </a>
                <div class="footer-contact-info">
                    <p class="contact">
                        <a href=""><span>info@colosseumdental.com</span></a>
                        <a href=""><span>+47 464 73 830</span></a>
                    </p>
                    <p class="address">
                        Colosseum Academy<br>
                        Sørkedalsveien 10A<br>
                        0368 Oslo
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="nav-title">Colosseum Dental Group</h6>
                <nav role="navigation" class="footer-main-nav">
                    {{ content }}
                </nav>
            </div>
            <div class="col-md-4">
                <h6 class="nav-title">Countries</h6>
                {{ drupal_view('countries', 'block_1') }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="footer-copyright">
                    <div class="copyright">Copyright © Colosseum Dental Group {{ 'now'|date('Y') }}.</div>
                </div>
            </div>
            <div class="col-md-4">
                {{ drupal_menu('footer-policies-menu') }}
            </div>
        </div>
    </div>
</footer>