{% import _self as menus %}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="nav navbar-nav">
        {% endif %}
        {% for item in items %}
            {% if item.below %}
                {# Level 0 menu item where there is a submenu #}
                {% if menu_level == 0 %}
                    <li class="nav-item has-dropdown">
                        {% set randomId = random(100000) %}
                        <a href="{{ item.url }}" class="nav-link {{ item.in_active_trail ? 'active':'' }}">{{ item.title }}</a>
                        <a href="#" class="dropdown-toggle" id="navbarDropdown-{{ randomId }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons keyboard_arrow_down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ randomId }}">
                            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                        </ul>
                    </li>
                {% endif %}
            {% else %}
                {# This is the basic level 0 menu item where there is no submenu #}
                <li class="nav-item" {{ item.attributes }}>
                    <a class="nav-link {{ item.in_active_trail ? 'active':'' }}" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if menu_level == 0 %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}

<nav role="navigation" class="navbar navbar-sub">
    <div class="container-fullwidth">
        {{ menus.menu_links(items, attributes, 0) }}
    </div>
</nav>