{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, user_edit_url) }}

{% macro menu_links(items, attributes, menu_level, user_edit_url) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="nav navbar-nav">
        {% else %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% endif %}
        {% for item in items %}
            {% if item.below %}
                {% if menu_level == 0 %}
                    <li class="nav-item jossa-dropdown">
                        <a href="{{ item.url }}" class="nav-link {{ item.in_active_trail ? 'active':'' }}">{{ item.title }}</a>
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon-toggle"></span>
                        </a>
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    </li>
                {% else %}
                    <li class="dropdown-submenu">
                        <a class="nav-link {{ item.in_active_trail ? 'active':'' }}" href="{{ item.url }}">{{ item.title }}</a>
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    </li>
                {% endif %}
            {% else %}
                {# This is the basic level 0 menu item where there is no submenu #}
                <li class="nav-item kissa" {{ item.attributes }}>
                    <a class="nav-link {{ item.in_active_trail ? 'active':'' }}" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}